body {
    background-image: url(./images/header-illsutration-mobile@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
}
.flex-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
section h2 {
    text-align: center;
    font-size: 60px;
    color: #172B4D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 100%;
}
.welcome-text {
    color: #36B37E;
}
.welcome-paragraph {
    text-align: center;
    margin: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #172B4D;
}
.icon {
    display: flex;
    justify-content: center;
}
.icon div {
    margin: 10px;
}
.icon div img {
    Width: 19.99px;
    Height: 19.96px;
}